@import "grid";
@import "variables";

.container {
  @mixin pageContainer;

  position: relative;
}

.content {
  @mixin contentContainer;
}

.contentSection {
  width: 100%;
  transform: translateZ(0);
  background-color: var(--app-background);
}
