@import 'variables';
@import 'sofiaFont';
@import 'normalize';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

img,
picture {
  transition: opacity 200ms;
}

[class*='lazyload'] {
  opacity: 0;
}

[class*='lazyloaded'] {
  opacity: 1;
}

body {
  margin: 0;
  padding: 0;
  color: $text-grey;
  background-color: white;
  font-family: sofiaMedium;
  overflow-x: hidden;
  line-height: 1.6rem;
  position: relative;
  height: 100%;
}

#app {
  height: 100%;
}

ul,
ol {
  list-style: none;
}

ul,
figure,
menu,
ol {
  padding: 0;
  margin: 0;
}
