@font-face {
  font-family: sofiaRegular;
  font-display: auto;
  src: url('fonts/sofia-regular.ttf');
}

@font-face {
  font-family: sofiaMedium;
  font-display: auto;
  src: url('fonts/sofia-medium.ttf');
}

@font-face {
  font-family: sofiaLight;
  font-display: auto;
  src: url('fonts/sofia-light.ttf');
}
