@import 'variables';
@import 'grid';

.container {
  @mixin card;
  min-height: 300px;
}

.innerContainer {
  @mixin content-container;
}

.heading {
  text-align: center;
}

.link {
  color: var(--green);
}
