@import '~styles/variables';
@import '~styles/mixins';

.container {
  @include landing-page-container();
}

.hero {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: top center;
  background-repeat: none;
  height: calc(100vh);

  &:after {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: '';
    background: linear-gradient(270deg, #de6262, #ff9959);
    opacity: 0.8;
  }
}
