.container {
  height: 500px;
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.imageContainer {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  &:after {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: '';
    background: rgba(0, 0, 0, 0.3);
  }
}

.title {
  transform: translateZ(0);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
