@import 'variables';
@import 'grid';
@import 'breakpoints';

.container {
  background: var(--text-grey);
  color: var(--white);
  width: 100%;
  flex-shrink: 0;

  @media (--viewport-max-959) {
    padding-bottom: var(--header-mobile-height);
  }
}

.innerContainer {
  @mixin content-container;
}

.grid {
  @mixin flex-row 0;

  margin-bottom: var(--base-margin);

  @media (--viewport-min-768) {
    @mixin flex-row 1rem;
  }
}

.column {
  border-bottom: 1px solid var(--white);
  padding-bottom: var(--base-margin);

  @mixin flexGtrCol 1, var(--base-margin);

  @media (--viewport-min-768) {
    @mixin flexGtrCol 3, var(--base-margin);
  }
}

.hashTag {
  text-align: center;
}

.buttonContainer {
  text-align: center;
  margin-bottom: var(--double-base-margin);
}

.scrollButton.scrollButton {
  margin: 0 auto;
  border: none;
}
